# This notebook will be used for the capstone project to achive the certificate :)

In [2]:
import pandas as pd
import numpy as np

In [8]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [29]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0,
                      keep_default_na=False)
headings = ['Postal Code', 'Borough', 'Neighborhood']
for table in tables:
    current_headings = table.columns.values[:3]
    if len(current_headings) != len(headings):
        continue
    if all(current_headings == headings):
        break
table=table[table.Borough != 'Not assigned']
table.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [31]:
table.shape

(103, 3)

### Explanation

First we take the page, with header = 0, because is not a table. Then we define the headers. After we create a loop to find the table using the headers name. Finaly we set the conditions the data has to achieve. The condicions that are not in t